######## Personal
## Jupither notebook They are converted into .py on pre-commit by husky
*.ipynb
src/docs/*.png
.env

######### Dependency directories
node_modules/
data/
emulator/

######### Webpack directory
.webpack

######### Build directory
.build

######### Serverless
.serverless/
_warmup
